<div class="container">
  <div class="row">
    <div class="col-12">
      <% @businesses.each do |business|  %>
        <%= link_to meet_business_path(Meet.find(params[:meet_id]), business), class: "text-decoration-none text-white" do %>
          <div class="business-card"
            data-map-target="business"
            data-coords="<%= { lat: business.latitude, lng: business.longitude }.to_json %>"
          >
            <% unless business.image_url.nil? %>
              <%= image_tag Business::PHOTO_ROUTE + business.image_url + Business::INDEX_PARAMS, alt: business.name, class: "business-images" %>
            <% end %>
            <div class="ms-2 d-flex flex-column">
              <h6 class=" m-1 pt-2 <%= "business-card-titles" unless business.name.size > 16 %>">
                <%= business.name %></h6>
              <div class="d-flex d-row ms-1">
              <p><%= icon('fa-solid', 'star') * business.rating.divmod(1)[0].round(0.5) %></p>
              <p><%= icon('fa-solid', 'star-half') * business.rating.divmod(1)[1].round(0.5) %></p>
              <p class="ms-1"><%= business.rating %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
      </div>
  </div>
</div>
