

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-4">
    <% @businesses.each do |business| %>
    <%= link_to business_path(business) do %>
        <div class="business-card">
          <h6 class="mb-0 pb-1 fw-bold text-dark  "><%= business.name %></h6>
          <p><%= business.description %></p>
          <p><%= business.street_address.gsub(/^.*, /, '') %></p>
          <h6><%= business.category %></h6>
            <% unless business.image_url.nil? %>
              <%=image_tag business.image_url, alt: business.name, class: "business-images" %>
            <% end %>
        </div>
        <% end %>
        <% end %>
      </div>
  </div>
</div>
