<div class="d-flex flex-column">
  <%= render "shared/form" %>

  <%# Hardcoded for testing`` %>
  <% user_location = "123 Kingsland Road" %>
  <% friend_location = "Bond Street Station" %>
  <% route_steps = Google::Maps.route(user_location, friend_location).steps %>
  <%= route_steps.size %> steps:
  <% route_steps.each do |step| %>
    <p style="font-size: small;"><%= step["html_instructions"] %>: </p>
    <p style="font-size: small;"><%= step["end_location"]["lat"] %>, <%= step["end_location"]["lng"] %></p>
  <% end %>

  <%# should this be moved somewhere else? %>
  <%# init map (defined in application.js but not recognised here) %>
  <% provide :head_tags do %>
    <script>
    document.addEventListener("DOMContentLoaded", function(){
        initMap(<%= Business.last.latitude %>, <%= Business.last.longitude %>)
    });
    </script>
<% end %>


  <%= render "shared/map_initial" %>
</div>
