<div data-controller="enter-locations">
  <div class="container d-flex flex-column">
      <div class="align-items-center">
        <%# <%= render "locate_icon" %> %>
        <input required type="text"
          id=userlocation name="userlocation" aria-label="userlocation" placeholder="Where are you?"
          class="input-location" required
          data-enter-locations-target="userlocation"
          data-action="input->enter-locations#suggestions"
        >
        <%= render "cross_icon" %>
        <div class="results-container" data-enter-locations-target="suggestionscontainer">
        </div>

        <input required type="text"
          id=search name="location" placeholder="Where's your friend?"
          class="input-location" required name="street-address"
        >
      </div>

    [hidden simple form here]
    <%= simple_form_for @meet, html: { class: ""} do |f| %>
      <%= f.input :name, input_html: { "data-enter-locations-target" => "meetname" }  %>
      <%= f.input :start_point_lat, input_html: { "data-enter-locations-target" => "startlat" } %>
      <%= f.input :start_point_long, input_html: { "data-enter-locations-target" => "startlong" } %>
      <%= f.input :friend_lat %>
      <%= f.input :friend_long %>
      <%= f.input :midpoint_lat %>
      <%= f.input :midpoint_long %>
      <%= f.input :directions %>
      <%= f.input :radius %>
      <%= f.input :active %>
      <%# NO SUBMIT, BUTTON, USE STIMULUS FOR THIS %>
    <% end %>
  </div>
</div>
