<!DOCTYPE html>
<html>
  <head>
    <title>Let's Get</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script async defer type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
    <%= javascript_include_tag "application" %>
    <%# <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API']}&libraries=places&callback=initMap">
    </script> %>

    <%# FOR GOOGLE MAPS %>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <%# <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API']}" %>
    <%# <script async defer src="https://maps.googleapis.com/maps/api/js?key=#{ENV['GOOGLE_MAPS_API']}&callback=initMap"
  type="text/javascript"></script> %>



    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>
    <%= yield(:head_tags) %>

  </body>
</html>
